@import (reference) "shared.less";

#grid {

  position: relative;
  display: inline-block;

  table {
      border: 1px solid black;
  }

  .block {
    font-family: sans-serif;
    border: 1px solid #bbb;
    position: relative;
    box-sizing: content-box;
  }

  .guess {
    border: 0px;
    padding: 0px;
    width: @square;
    height: @square;
    padding-top: @clue-height;
    line-height: @text-size;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: @text-size;

    &.pencil {
      //color: @pencil-color;
      opacity: 0.5;
    }

    &.wrong {
      color: red;
    }

    &.right {
      color: blue;
    }

  }

  .answer {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    color: blue;
  }

  .clue {
    font-size: @clue-height;
    position: absolute;
    margin: 1px;
  }

  .target {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: fade(red, 0%);
  }

  .black {
    background-color: black;
    border: 1px solid black;
  }

}