@import (reference) "shared.less";
@face-size: 30px;

// Position tracking

.active-clue {
  position: absolute;
  opacity: .2;
  margin: 1px;
}

.active-box {
  position: absolute;
  width: @square * @input-ratio;
  height: @square * @input-ratio;

  border: 2px solid;
  margin: -1px;
  box-sizing: content-box;

  .head {
    margin-top: -@face-size/2;
    margin-left: 15px;
    z-index: 20;
    width: @face-size;
    height: @face-size;
    .rounded-corners(@face-size);
  }

}